.section {
  @include main-block();

  &__container {

    @include container();

    &--current {
      position: fixed;
    }

    &--red {
      @include background-color($orange, transparent);
    }

    &--green {
      @include background-color($green, $grayLighter);
    }

    &--blue{
      @include background-color($ocean, transparent);
    }

    &--rosa {
      @include background-color($rosa, transparent);
    }

  }

  &__wrapper {
    color: $red;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }

}



