
.logo {

  @keyframes cube_animation {
    0% {
      transform: scale(1, 1);
      transform: translate(-50%, -50%);
      opacity: 1
    }
    50% {
      transform: translate(-50%, -50%) scale(1.3, 1.3);
      opacity: .4
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5, 1.5);
      opacity: 0;
    }
  }

  font-size: 4rem;
  color: $red;
  margin-bottom: 4rem;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;

  }

  &__cube {
    width: 6rem;
    display: block;

    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    &--animated {
      animation: cube_animation 2s ease-out infinite;
    }

  }

  &__text {
    display: block;
    color: white;

    small {
      display: block;
      font-size: 4vh;
      font-weight: 100;
    }

    strong {
      display: block;
      font-size: 8vh;
      font-weight: bold;
    }
  }

}

.more {

  @keyframes more_animation {
    0% {opacity: 1;}
    20% {opacity: 0;-webkit-transform: translate3d(0, 6px, 0);transform: translate3d(0, 6px, 0);}
    21% {opacity: 0;-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
    41% {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
    100% {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  }

  width: 100%;
  bottom: 4vh;
  display: block;
  position: absolute;

  &__image {
    width: 3rem;

    &--animated {
      animation: more_animation 3s linear infinite;
    }
  }

}