.section {
  @include main-block();
  font-size: $font-size;

  //only hided when phone in landscape mode.
  &--mobile-landscape-invisible {
    @media (min-width: $phone) {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    @media (min-width: $tablet) {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  //only showed when phone in landscape mode
  &--mobile-landscape-visible {

    display: none;
    visibility: hidden;
    opacity: 0;

    @media (min-width: $phone) {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    @media (min-width: $tablet) {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

  }

  &__container {

    @include container();

    &--padding {
      padding: $global_padding;
    }

    &--current {
      position: fixed;
    }

    &--orange {
      @include background-color($orange, $grayLighter);
    }

    &--green {
      @include background-color($green, $grayLighter);
    }

    &--blue{
      @include background-color($ocean, $grayLighter);
    }

    &--rosa {
      @include background-color($rosa, $grayLighter);
    }

    &--lila {
      @include background-color($lila, $grayLighter);
    }

    &--red {
      @include background-color($red, $grayLighter);
    }

    &--yellow {
      @include background-color($yellow, $grayLighter);
    }

  }

  &__wrapper {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }

  &__wrapper2 {
    padding: 2em;
    height: 100%;
  }

}



