

.title {
  margin-top: 0.5em;
  color: white;
  font-weight: bold;

  font-size: 1em;
  @media (min-width: $tablet) {
    font-size: 4em;
  }
}

.text {
  display: block;
  color: white;

  margin-top: 1em;
  //for not mobile  (tablet / laptops / screens) we center the content
  @media (min-width: $tablet) {
    margin-top: 3em;
    margin-left: 12em;
    margin-right: 12em;
  }

  small {
    display: block;
    font-size: $small-font-size;
    font-weight: 100;
  }

  strong {
    display: block;
    font-size: $big-font-size;
    font-weight: bold;
  }

  &&--justified {
    text-align: justify;
  }
}

.more {

  @keyframes more_animation {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
      -webkit-transform: translate3d(0, 6px, 0);
      transform: translate3d(0, 6px, 0);
    }
    21% {
      opacity: 0;
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    41% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  width: 100%;
  bottom: 4vh;
  display: block;
  position: absolute;

  &__image {
    width: 3rem;

    &--animated {
      animation: more_animation 3s linear infinite;
    }
  }

}