@import "bourbon/bourbon";
@import "common/variables";
@import "common/global";
//@import "components/parallax";
@import "components/pre-loader";



.text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

