@import "bourbon/bourbon";
@import "common/variables";
@import "common/global";
@import "layouts/sidebar";
//@import "components/parallax";
//@import "components/pre-loader";
@import "components/sections";
@import "components/logos";
@import "components/text";
@import "components/iframe";
@import "components/iloveit";




section {
  text-align: center;
  position: relative;
  background: #fff;
  z-index: 800;
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10vh 6vw;
}

