@import "bourbon/bourbon";
@import "common/variables";
@import "common/global";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.layout {
  background-color: transparent;
}

.box {
  background-color: #b0bec5;
  position: fixed;
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
  position: relative;
  text-align: center;
}

.box2 {
  background-color: #b0bec5;
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
  position: relative;
  text-align: center;
}

