
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

@mixin background-color() {
  background:
          linear-gradient(45deg, transparent 0%, transparent 57%, $gray 100%),
          linear-gradient(-45deg, $rosa 0%, $lila 0.3%, $ocean 112%, transparent 11%),
          linear-gradient(-90deg, $rosa 100%, $rosa 65%, transparent 20%);
}


.layout {
  @include background-color();
}


.layout-container {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGCQBOLnQAwGjDAGNgGwSgwVAE+2AgXahLM7AAAAAElFTkSuQmCC) repeat;
}
