// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$font-size:  16px;
$small-font-size: 4vh;
$big-font-size: 8vh;
$global_margin: 0;
$global_padding: 3.5em;

/* responsiveness */

$tablet: 960px;
$phone: 490px;


/* Palette templates paletton.com */

$black:          #000 !default;
$grayDarker:     #222 !default;
$grayDark:       #333 !default;
$gray:           #555 !default;
$grayLight:      #999 !default;
$grayLighter:    #eee !default;
$white:          #fff !default;

$blue-darkest     : #215564;
$blue-dark        : #388D9B;
$blue             : #4AB7C3;
$blue-light       : #86D0DA;
$blue-lighter     : #B1E1E8;
$blue-lightest    : #BCE5EB;

// Colors
$green            : #4DCE9A;
$greenFluor       : #53E053;
$ocean            : #597CCC;
$lila             : #765CCF;
$rosa             : #EF5986;
$orange           : #FF8F5F;
$red              : #FF635F;

$red_strong       : #FA1212;
$yellow_strong    : #FAFA12;
$green_strong     : #34D434;
$blue_strong      : #401FAC;
$orange_strong    : #FA9312;
